html, body {
  margin: 0px;
  padding: 0px;
}

/* Стили для контейнера хедера */
#header {
  position: relative;
  width: 100%;
  height: 600px; /* Высота хэдера */
  overflow: hidden; /* Обрезаем лишнее */
}

/* Стили для фона WebGL */
#header-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Чтобы canvas не блокировал взаимодействие */
}

/* Canvas теперь не занимает весь экран */
canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
}